body {
    margin: 0;
    background-color: darkgray;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
#carCanvas {
    background-color: lightgray;
    
}
/* #networkCanvas {
    background-color: rgb(0, 0, 0);
    
} */